{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
{% load bootstrap4 %}

    <form action="" method="post">
        {% csrf_token %}

        {% if edit %}
            {% bootstrap_field form. product form_group_class='border-bottom-success' %}
            {% bootstrap_field form. image form_group_class='border-bottom-success' %}

        {% else %}
            {{ form.as_p }}
        {% endif %}
        <button type="submit" onclick="saved()">saqlash</button>
    </form>

{% endblock %}
