{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
{% load bootstrap4 %}

    <form action="" method="post">
        {% csrf_token %}

        {% if edit %}
            {% bootstrap_field form. title form_group_class='border-bottom-success' %}
            {% bootstrap_field form. price form_group_class='border-bottom-success' %}
            {% bootstrap_field form. price_type form_group_class='border-bottom-success' %}
            {% bootstrap_field form. is_active form_group_class='border-bottom-success' %}
            {% bootstrap_field form. size form_group_class='border-bottom-success' %}
            {% bootstrap_field form. ctg form_group_class='border-bottom-success' %}
        {% else %}
            {{ form.as_p }}
        {% endif %}


         <button type="submit" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
        <i class="fas fa-check"></i>
                </span>
                <span class="text" onclick="saved()">Tasdiqlash</span>
         </button>
        <a href="#" class="btn btn-danger btn-icon-split">
                <span class="icon text-white-50">
        <i class="fas fa-trash"></i>
                </span>
                <span class="text">Bekor qilish</span>
        </a>
    </form>

{% endblock %}

